*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 100vh;
}

.calendar{
    background-color: #eee ;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.calendar-table ,td{
    border-collapse: collapse;
}

td{
    border: 1px solid gray;
    padding: 1rem 3rem 2rem 1rem;
    transition: outline 50ms ease-in;
    cursor: pointer;
}

.not-available{
    color: gray
}
td:hover{
    outline: 2px solid red;
    outline-offset: -2px;   
}

.today{
    background-color: red;
}

.prev-date , .next-date{
    color: red;
}